# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [2]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('~', 'dat11syd', 'data', 'ozone.csv'))

In [6]:
data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [5]:
for name in data.columns:
    print(name)

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [7]:
data.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [17]:
data.shape[0]

153

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [11]:
data.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [12]:
data['Ozone'][46]

21.0

How many missing values are in the Ozone column of this data frame?

In [22]:
data['Ozone'].value_counts(dropna=False)

NaN       37
 23.0      6
 21.0      4
 13.0      4
 20.0      4
 18.0      4
 14.0      4
 16.0      4
 7.0       3
 11.0      3
 44.0      3
 9.0       3
 28.0      3
 32.0      3
 30.0      2
 85.0      2
 24.0      2
 39.0      2
 35.0      2
 37.0      2
 45.0      2
 97.0      2
 59.0      2
 78.0      2
 73.0      2
 12.0      2
 36.0      2
 64.0      2
 1.0       1
 4.0       1
          ..
 46.0      1
 49.0      1
 122.0     1
 47.0      1
 91.0      1
 96.0      1
 84.0      1
 118.0     1
 76.0      1
 168.0     1
 31.0      1
 22.0      1
 65.0      1
 110.0     1
 89.0      1
 66.0      1
 40.0      1
 50.0      1
 82.0      1
 52.0      1
 108.0     1
 80.0      1
 63.0      1
 79.0      1
 61.0      1
 48.0      1
 27.0      1
 10.0      1
 77.0      1
 41.0      1
Name: Ozone, Length: 68, dtype: int64

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [24]:
data['Ozone'].mean()

42.12931034482759

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [25]:
data.loc[(data['Ozone'] > 31) & (data['Temp'] > 90)]['Solar.R'].mean()

212.8

What is the mean of "Temp" when "Month" is equal to 6?

In [26]:
data.loc[data['Month'] == 6]['Temp'].mean()

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [27]:
data.loc[data['Month'] == 5]['Ozone'].max()

115.0

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas